<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <specFlow>
    <unitTestProvider name="MSTest" />
  </specFlow>
  <appSettings>
    <add key="Url" value="https://docs.google.com/forms/d/e/1FAIpQLSfWfPcADbvEPrGDePWhY-agioR1TAyFZTW-hwNTucN28-VACg/viewform" />
    <!--<add key="DriverChrome" value="C:\Users\matosdb\source\repos\Desafio\bin\Debug\netcoreapp2.2" />-->
    <add key="selenium:driver" value="Chrome" />
    <!--<add key="selenium:huburi" value="http://10.121.4.208:4444/wd/hub" />-->
    <add key="selenium:window" value="9999" />
    <add key="selenium:reusedriver" value="true" />
    <add key="selenium:browsermode" value="x64,private" />
    <add key="chrome:headless" value="false" />
  </appSettings>
</configuration>